.lateral-esq{
    border-left: 5px solid gray;
    padding-left: 50px;
}

.lateral-dir{
    padding-right: 50px;
}

body{
    background: #F2F2F2;
    padding-top: 50px;
}


.espacamento{
    padding: 0px 0px 10px 0px; 
}